openapi: 3.0.0
info:
  title: Corepilot API
  description: API documentation Corepilot API
  version: 1.0.0
servers:
  - url: https://api.corepilot.finance/corepilot
components:
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /subscription/plans:
    get:
      summary: Get Subscription Plans
      description: Get the list of subscription plans.
      responses:
        "200":
          description: Successfully retrieved plans.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the subscription plan.
                    description:
                      type: string
                      description: The description of the subscription plan.
                    price:
                      type: number
                      description: The price of the subscription plan.
                    duration:
                      type: number
                      description: The duration of the subscription plan (days).
                    quota:
                      type: number
                      description: The quota of the subscription plan.
  /subscription:
    get:
      summary: Get User Plan
      description: Get the subscription plan of the user.
      security:
        - accessToken: []
      responses:
        "200":
          description: Successfully retrieved plan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    description: The address of the user.
                  plan:
                    type: string
                    description: The name of the subscription plan.
                  quota:
                    type: number
                    description: The quota of the subscription plan.
                  quotaUsed:
                    type: number
                    description: The quota used of the subscription plan.
                  expiresAt:
                    type: string
                    description: The expiration timestamp of the subscription plan.
        "400":
          description: Unauthorized
        "401":
          description: User subscription not found
  /subscription/subscribe:
    post:
      summary: Subscribe
      description: Subscribe to a subscription plan for the user.
      security:
        - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  type: string
                  description: The name of the subscription plan.
              required:
                - plan
      responses:
        "201":
          description: Successfully subscribed to the plan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    description: The address of the user.
                  plan:
                    type: string
                    description: The name of the subscription plan.
                  quota:
                    type: number
                    description: The quota of the subscription plan.
                  quotaUsed:
                    type: number
                    description: The quota used of the subscription plan.
                  expiresAt:
                    type: string
                    description: The expiration timestamp of the subscription plan.
        "400":
          description: Bad request - invalid plan or subscription data
        "401":
          description: Unauthorized
        "404":
          description: Not found
